/* p {
  font-family: 'Assistant', sans-serif;
} */

body {
  overflow: hidden;
}

header {
	width: 95%;
  height: 10vh;
}

#logo {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  text-align: left;
  float: left;
  margin-top: 0.5vh;
  margin-left: 12vh;
}

li a {
  display: block;
  width: 60px;
}

a {
  padding: 8px;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
	color: #FFAD9E;
}

header > #home > ul > li > a {
  margin-top: 5vh;
}

u {
   text-decoration: none;
   border-bottom: 2px solid #FFAD9E;
 }


ul {
  color: #FFAD9E;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: right;
}

#pink-bottom {
  background: #FFF3F4;
  position: absolute;
  width: 100%;
  height: 39vh;
  bottom: 0;
  font-family: 'Assistant', sans-serif;
  display: flex;
  flex-wrap: wrap;
  vertical-align: bottom;
}

#hello {
  flex: 1;
  float: left;
  font-size: 4.5rem;
  margin-top: -2vh;
  color: #FFAD9E;
  margin-left: 12vh;
  line-height: 5.5rem;
}

#bio {
  font-weight: 300;
  flex: 0 0 40%;
  float: left;
  font-size: 1.5rem;
	margin-top: 5vh;
  margin-bottom: 20vh;
	text-align: left;
  margin-right: 40vh;
  align-self: flex-end;
}

/* #back-rect {
  position: relative;
  top: 0;
  background: #FFF3F4;
  width: 38%;
} */
#img-holder {
  background: #FFEEEB;
  position: relative;
  width: 77vh;
  height: 40vh;;
  margin-right: 40vh;
  float: right;
  margin-top: -17vh;
}

#img-holder > img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 2vh;
  margin-top: 2vh;
  /* margin-right: 40vh;
  float: right;
  margin-top: -15vh; */
}


#contacts {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20vh;
}

.logo {
  height: 3.5vh;
  width: 3.5vh;
  margin: 2vh;
  margin-left: 12vh;
}
